.contact-page-wrapper {
	form {
		fieldset {
			border: 0;
			padding: 0;
			margin: 0;
		}
		label {
			display: block;
			// font-size: var(--font-size-form-label);
		}
		section {
			margin-bottom: calculateRem(20px);
		}
		input:not([type=submit]):not([type=file]),
		textarea {
			width: 100%;
			padding: 0.5rem;
			margin-top: .3rem;
			border: 0;
			border-bottom: calculateRem(4px) solid $color-form-underline__inactive;
			transition: border-bottom-color $timing-interaction;
			outline: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: $color-form-background;
			font-family: inherit;
			font-size: inherit;
		}
		input:not([type=submit]):not([type=file]):hover,
		textarea:hover {
			border-bottom: calculateRem(4px) solid $color-form-underline__hover;
			transition: border-bottom-color $timing-interaction;
		}
		input:not([type=submit]):not([type=file]):active,
		input:not([type=submit]):not([type=file]):focus,
		textarea:active,
		textarea:focus {
			border-bottom: calculateRem(4px) solid $color-form-underline__active;
			transition: border-bottom-color $timing-interaction;
		}
		textarea {
			resize: vertical;
			min-height: 3.5rem;
		}
	}
}