.index-page-wrapper {
  & .tagline {
    margin-bottom: 1rem;

    > mark {
      font-size: $font-size-large;
      background-color: white;
    }
  }

  & .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img {
      // border-radius: 5%;
      width: 300px;
      height: 350px;
      object-fit: cover;
      object-position: top;
      // float: right;
    }

    & .intro-overview {
      width: 60%;
      margin-left: 2rem;
      line-height: 1.7;
    }
  }
}
