@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

.form-button { padding: 1rem; display: inline-block; text-align: center; cursor: pointer; text-decoration: none; font-size: 1rem; -webkit-appearance: none; appearance: none; border-radius: 0; transition: color 0.2s, background 0.2s; }

.form-button:focus { outline: 0; }

.form-button:active { transform: scale(0.99); }

.form-button:disabled, .disabled.form-button { cursor: not-allowed; transform: scale(1); }

.form-button { border: 1px solid red; background: transparent; border-radius: 10px; margin-bottom: 1rem; }

.form-button:hover, .form-button:focus { color: black; background: red; }

.form-button:active { opacity: 0.8; color: black; background: red; }

.form-button:disabled, .form-button.disabled { opacity: 0.4; }

.form-button:disabled:hover, .form-button.disabled:hover { color: red; background: transparent; }

.index-page-wrapper .tagline { margin-bottom: 1rem; }

.index-page-wrapper .tagline > mark { font-size: 1.7rem; background-color: white; }

.index-page-wrapper .intro { display: flex; align-items: center; justify-content: space-between; }

.index-page-wrapper .intro img { width: 300px; height: 350px; object-fit: cover; object-position: top; }

.index-page-wrapper .intro .intro-overview { width: 60%; margin-left: 2rem; line-height: 1.7; }

.blog-page-wrapper .posts .post { margin-bottom: 2rem; }

.blog-page-wrapper .posts .post .post-excerpt { font-size: 0.8rem; }

.contact-page-wrapper form fieldset { border: 0; padding: 0; margin: 0; }

.contact-page-wrapper form label { display: block; margin-bottom: 1.25rem; }

.contact-page-wrapper form input, .contact-page-wrapper form textarea, .contact-page-wrapper form button { border-radius: 5px; }

.contact-page-wrapper form input:not([type="submit"]):not([type="file"]), .contact-page-wrapper form textarea { width: 100%; padding: 0.5rem; margin-top: 0.3rem; border: 0; border-bottom: 0.25rem solid rgba(0, 0, 0, 0.7); transition: border-bottom-color 0.2s; outline: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: white; font-family: inherit; font-size: inherit; }

.contact-page-wrapper form input:not([type="submit"]):not([type="file"]):hover, .contact-page-wrapper form textarea:hover { border-bottom: 0.25rem solid grey; transition: border-bottom-color 0.2s; }

.contact-page-wrapper form input:not([type="submit"]):not([type="file"]):active, .contact-page-wrapper form input:not([type="submit"]):not([type="file"]):focus, .contact-page-wrapper form textarea:active, .contact-page-wrapper form textarea:focus { border-bottom: 0.25rem solid red; transition: border-bottom-color 0.2s; }

.contact-page-wrapper form textarea { resize: vertical; min-height: 3.5rem; }

body { background-color: #f2f2f2; }

#comment-section, #comment-section * { box-sizing: border-box; }

.textfield { max-width: 100%; padding: 0.5rem 0; }

textarea { vertical-align: top; }

.textfield__input { border: 1px solid rgba(0, 0, 0, 0.12); padding: 4px 5px; width: 100%; font-size: 0.8rem; }

.narrowfield { width: 420px; }

.notify-me, .g-recaptcha { padding: 0.5rem 0; }

.hp { display: none; }

.button { background: rgba(158, 158, 158, 0.2); box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14); border: none; border-radius: 2px; padding: 4px 8px; overflow: hidden; cursor: pointer; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; margin: 4px 0px 0px 0px; }

button:hover { background-color: red; color: white; }

.show-modal { overflow: hidden; position: relative; }

.show-modal:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; background-color: rgba(255, 255, 255, 0.85); }

.show-modal .modal { display: block; }

.mdl-card { min-height: 200px; overflow: hidden; z-index: 1; position: relative; background: #fff; box-sizing: border-box; }

.modal { display: none; position: fixed; width: 330px; top: 50%; left: 50%; margin-left: -150px; margin-top: -150px; min-height: 0; z-index: 9999; box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14); padding: 16px; border-radius: 2px; background: white; }

.mdl-shadow--16dp { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.mdl-card__supporting-text { overflow: hidden; padding: 16px; width: 90%; }

.modal-title { margin-bottom: 0px; }

.disabled input, .disabled button, .disabled textarea, .disabled label { pointer-events: none; cursor: not-allowed; filter: alpha(opacity=65); box-shadow: none; opacity: 0.65; }

.comment__new { padding: 0px 0px 14px 0px; }

.comment__author { color: grey; }

.comment__date { font-size: 0.6rem; }

.comment__body { font-size: 0.8rem; }

.comment__meta { text-align: left; color: lightgray; font-size: 0.6rem; }

.comments__existing { padding: 8px 0px 0px 0px; }

.comment { border-top: 0px solid lightgray; padding: 0px 0px 0px 0px; margin-bottom: 1em; }

.comment.child { margin-left: 3em; }

.comment__reply-link { color: lightgray; font-size: 0.8rem; cursor: pointer; }

.icon { display: inline-block; fill: currentColor; height: 1em; line-height: 1; position: relative; top: -0.125em; vertical-align: middle; width: 1em; }

.icon.spin { animation: spin 2s infinite linear; }

.project-layout-wrapper .evidence img { margin-bottom: 0; }

.project-layout-wrapper .evidence figcaption { font-size: 0.6rem; text-align: center; margin-bottom: 2rem; }

.portfolio-page-wrapper .projects .project { margin-bottom: 2rem; }

/*# sourceMappingURL=my.css.map */