$timing-interaction: 0.2s;

$color-action: red;

$color-form-background: white;
$color-form-underline__inactive: rgba(black, 0.7);
$color-form-underline__hover: grey;
$color-form-underline__active: $color-action;

$color-button-action: $color-action;
$color-button-text__hover: black;
$color-button-text__active: black;

$font-color-comment__author: grey;

$font-size-xlarge: 2.5rem;
$font-size-large: 1.7rem;
$font-size-normal: 1rem;
$font-size-small: 0.8rem;
$font-size-xsmall: 0.6rem;

$font-size-button: $font-size-normal;
