<h3>About Me</h3>

<p>Rana is a Project Manager and technology solutions professional. He has worked with clients in IT, telco and academia sectors for past thirteen years.

These years have probably experienced the fastest wave of technological change. The explosion of digital data touched almost every industry and the demand of data speeds grew exponentially. Telcos evolved from 2G to 5G and smartphones became a commodity from once a luxury.

Having ridden this wave of change, Rana has a passion for tinkering with new technology and taking on new challenges.

He is a data enthusiast (especially analytics and visualisation) and currently spends his leisure time learning about machine learning and inferential statistics.</p>
