---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{% if page.topics %} {% assign page_topics = page.topics %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% assign related_count = 0 %} {% for post in site.posts %} {% if post.url
    != page.url %} {% assign has_common_topic = false %} {% for topic in
    post.topics %} {% if page_topics contains topic %} {% assign
    has_common_topic = true %} {% endif %} {% endfor %} {% if has_common_topic
    and related_count < 3 %} {% assign related_count = related_count | plus: 1
    %}
    <li>
      <h3>
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endif %} {% endif %} {% endfor %}
  </ul>
</div>
{% endif %} {% if page.comments == true %} {% include comments.html %} {% endif
%}
