---
layout: default
---

<main class="project-layout-wrapper">
  <article>
    <section class="story">
      <h1>{{ page.name }}</h1>
      <p>{{ content }}</p>
    </section>
    <section class="evidence">
      {% for image in page.images %}
      <figure id="{{ image.url | slugify }}">
        <img
          src="{{ image.url | prepend: page.image_serve_path }}"
          alt="{{ image.description }}"
        />
        {% if image.caption %}
        <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>
      {% endfor %}
    </section>
    <aside class="metadata">
      {% if page.disciplines %}
      <h3>Disciplines</h3>
      <p>{{ page.disciplines }}</p>
      {% endif %} {% if page.start_year %}
      <h3>Year</h3>
      <p>{{ page.start_year | flatify }}</p>
      {% endif %}
    </aside>
  </article>
</main>
